.error-span {
  color: red;
}

.answer-cell {
  vertical-align: middle;
  padding-bottom: 20px;
}

.full-result-table {
  width: 50%;
}

.personality-test-form-table ol {
  list-style-type: decimal;
  padding-left: 32px;

}
.personality-test-form-table ol select {
  float: right;
}

